#frsidebar{
    background: #020509;
    grid-area: Sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    
}

.frsidebar__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}


.frsidebar__title > div > h1{
font-size: 18px;
display: inline;
margin-left: 15px;
}



.frsidebar_menu > h2{
    color: #3ea175;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}

.frsidebar__link{
   
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.active_menu_link{
    color: #3ea175;
    background: peachpuff ;
}

.active_menu_link a {
    color: #3ea175 !important;
}

.frsidebar__link > a{
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
}

.frsidebar__link a:focus{
    padding: 7px;
    background: rgba(62, 161, 117, 0.3);
    border-radius: 3px;
}


.frsidebar__logout{
    margin-top: 20px;
    padding: 10px;
    color: #e65061;
}

.frsidebar__logout > a {
    text-decoration: none;
    color: #e65061;
    font-weight: 700;
    text-transform: uppercase;
}

.frsidebar-responsive{
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
}

@media only screen and (max-width: 978px){
    #frsidebar{
        display: none;
    }
}